@media (max-width: 1200px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  /* HEADER */
  .header-top__container {
    position: relative;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .burger {
    position: relative;
    display: block;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
  }

  .burger::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 140%;
    border: 2px solid var(--purple-active);
    transform: translate(-50%, -50%);
    transition: opacity .15s ease-in-out;
    opacity: 0;
  }

  .burger:focus::before {
    opacity: 1;
  }

  .burger:hover > .burger__wand {
    background: var(--purple-hover);
  }

  .burger:hover > .burger__wand:nth-child(2),
  .burger:hover > .burger__wand:nth-child(3) {
    width: 36px;
    background: var(--purple-hover);
  }

  .burger__wand {
    display: block;
    width: 36px;
    height: 4px;
    background: var(--white);
    transition: background .3s ease-in-out;
  }

  .burger__wand:not(:last-child) {
    margin-bottom: 9px;
  }

  .burger__wand:nth-child(2) {
    width: 28px;
    transition: width .3s ease-in-out .3s, background .3s ease-in-out .3s;
  }

  .burger__wand:nth-child(3) {
    width: 24px;
    transition: width .3s ease-in-out .6s, background .3s ease-in-out .6s;
  }

  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 188px;
    transform: translate(-50%, -50%);
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 50px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    transform: translateX(-100vw);
    transition: transform .3s ease-in-out;
    z-index: 2;
  }

  .nav__close {
    position: absolute;
    top: 37px;
    left: 50px;
    display: inline-block;
    border: none;
    width: 29px;
    height: 29px;
    background: transparent;
  }

  .nav__close::before,
  .nav__close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    background: var(--white);
    transform: translateY(-50%);
  }

  .nav__close:active::before,
  .nav__close:active::after {
    background: var(--purple-active);
  }

  .nav__close::before {
    transform: rotate(45deg);
  }

  .nav__close::after {
    transform: rotate(-45deg);
  }

  .nav--open {
    align-items: flex-start;
    max-height: 100vh;
    transform: translateX(0);
    background-color: rgba(0, 0, 0, .9);
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__item {
    margin-bottom: 32px;
    font-size: 24px;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .header__log-in {
    margin-top: auto;
    margin-left: 0;
    padding: 22px 88px;
    border-radius: 100px;
    border: 2px solid var(--purple-focus);
    background: url(../images/To-come-in.svg) 65px center no-repeat;
  }

  .header__log-in:hover {
    background: url(../images/To-come-in-hover.svg) 65px center no-repeat;
  }

  .header-top__search {
    display: flex;
    align-items: center;
    padding: 0px 5px 3px 0;
    transform: translate(5px, 2px);
    overflow: hidden;
  }

  .header-top__search_wrapper {
    transform: translateX(90%);
    transition: transform .3s ease-in-out;
  }

  .header-top__search_open {
    transform: translateX(0);
  }

  .header-top__btn {
    border: none;
    width: 30px;
    height: 30px;
    background: url(../images/Search.svg) center center no-repeat transparent;
    background-size: cover;
    flex-shrink: 0;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }

  .header-top__input:focus + .header-top__btn,
  .header-top__input:hover + .header-top__btn,
  .header-top__btn:focus,
  .header-top__btn:hover {
    width: 30px;
    height: 30px;
    background: url(../images/Search-hover.svg) center center no-repeat transparent;
    background-size: cover;
  }

  .header-top__input:focus::placeholder {
    font-size: 0;
  }

  .header-top__input:focus,
  .header-top__btn:focus {
    outline: none;
  }

  .header-top__btn:active {
    background: url(../images/Search-active.svg) center center no-repeat transparent;
    background-size: cover;
  }

  .header-top__input {
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid var(--white);
    width: 218px;
    color: var(--purple-hover);
    -webkit-text-fill-color: var(--white);
    background: transparent;
    transition: border-bottom .15s ease-in-out, background .15s ease-in-out;
  }

  .header-top__input:hover {
    border-bottom-color: var(--purple-hover);
  }

  .header-top__input::placeholder {
    font-size: 0;
    color: rgba(255, 255, 255, 0.85);
  }

  .header-top__close {
    display: none;
  }

  .header__bottom {
    display: none;
  }

  /* MAIN */
  .main {
    margin-top: 0;
  }

  /* ABOUT-US */
  .about-us__description {
    line-height: 32px;
  }

  /* HERO */
  .hero__container {
    padding-top: 113px;
    padding-bottom: 113px;
  }

  /* GALLERY */
  .gallery-section {
    padding-bottom: 76px;
  }

  .gallery__swiper-container {
    height: clamp(678px, 66.23vw, 830px);
  }

  /* CATALOG */
  .catalog__title-list-countries {
    margin-bottom: 16px;
  }

  .catalog-wrapper__title {
    padding-top: 32px;
  }

  .catalog__description > p,
  .catalog-wrapper__description,
  .projects__description {
    line-height: 32px;
  }

  /* EVENTS */
  .events-section {
    padding-top: 86px;
    padding-bottom: 78px;
  }

  .events__card {
    margin-bottom: 54px;
  }

  .events-card__signature > div {
    line-height: 14px;
  }

  .events-card__description {
    margin-bottom: 31px;
  }

  /* EDITIONS */
  .edition__categories-prices {
    margin-right: 1.6vw;
  }

  /* PROJECTS */
  .projects-section {
    padding-top: 86px;
  }
  .swiper-slide__image {
    transform: scale(1);
  }

  .project__card {
    height: clamp(128px, 10.35vw, 150px);
  }

  /* CONTACTS */
  .contacts__wrapper_address-form-title {
    margin-bottom: 37px;
  }

  .contacts__address-form-social {
    padding-right: max(45px, calc((100vw - 820px)/2));
    padding-left: max(50px, calc((100vw - 1600px)/2));
  }

  .contacts__social-icons {
    margin-right: 30px;
  }

  .socials__item:not(:last-child) {
    margin-right: 30px;
  }

  .contacts__social-icons > svg,
  .footer__social-link > svg {
    width: 60px;
    height: 60px;
  }

  /* MAP */
  .map {
    position: relative;
  }

  .map::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
  }

  .footer_container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
