@media (max-width: 1400px) {
  /* HEADER */
  .header__logo {
    margin-right: clamp(79px, 6.6vw, 179px);
  }

  .nav__item:not(:last-child) {
    margin-right: 42px;
  }

  .filter__item:not(:last-child) {
    margin-right: clamp(46px, 3.85vw, 62px);
  }

  /* HERO */
  .hero__title {
    margin-bottom: 13px;
  }

  .hero__decription {
    margin-bottom: 134px;
    max-width: 661px;
  }

  /* GALLERY */
  .gallery-section__filter {
    flex: 1 1 34%;
    margin-right: 49px;
  }

  /* CATALOG */
  .catalog__list-countries {
    transform: translateY(6px);
  }

  .catalog__description > p {
    margin-bottom: 38px;
  }

  .catalog-wrapper__figure {
    flex: 1 1 50%;
  }

  .accordion__list {
    padding: 25px 0 29px 0;
    height: 441px; /*Для макета*/
    column-count: 2;
    column-gap: 50px;
  }

  /* EVENTS */
  .events-card__picture > img {
    min-height: 200px;
    object-fit: cover;
  }

  .events-card__title {
    line-height: 33px;
  }

  .events-card__figcaption {
    padding: 14px 18px 54px 35px;
  }

  .events-card__description {
    display: -webkit-box;
    margin-right: 13px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  /* EDITION */
  .edition__image-description {
    padding: 10px 0 16px 0;
  }

  .edition__wrapper-image {
    display: inline-block;
  }

  /* PROJECTS */
  .projects__swiper-container {
    margin: 0 53px;
  }

  .partners-swiper-button-prev,
  .partners-swiper-button-next {
    top: 66%;
  }
}
