@media (max-width: 992px) {
  .container {
    padding-right: max(15px, calc((100vw - 668px)/2));
    padding-left: max(15px, calc((100vw - 668px)/2));
  }
  /* HEADER */
  .header-top__search {
    width: 100%;
  }

  .header-top__search_wrapper {
    width: 100%;
    transform: translateX(95%);
    transition: transform .3s ease-in-out;
  }

  .header-top__search_open {
    transform: translateX(0);
  }

  .header-top__input:focus + .header-top__btn,
  .header-top__input:hover + .header-top__btn,
  .header-top__btn:focus,
  .header-top__btn:hover {
    width: 30px;
    height: 30px;
    background: url(../images/Search-hover.svg) center center no-repeat transparent;
    background-size: cover;
  }

  .header-top__input:focus::placeholder {
    font-size: 0;
  }

  .header-top__input {
    width: 100%;
  }

  .header-top__close {
    position: relative;
    display: block;
    margin-left: 23px;
    border: none;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    background: transparent;
  }

  .header-top__close::before,
  .header-top__close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--white);
    transform: translateY(-50%);
  }

  .header-top__close:active:before,
  .header-top__close:active:after {
    background: var(--purple-active);
  }

  .header-top__close::before {
    transform: rotate(45deg);
  }

  .header-top__close::after {
    transform: rotate(-45deg);
  }

  .header-top__input::placeholder {
    font-size: 0;
    color: rgba(255, 255, 255, 0.85);
  }

  .nav {
    padding-right: max(15px, calc((100vw - 668px)/2));
    padding-left: max(15px, calc((100vw - 668px)/2));
  }

  .nav__close {
    left: max(15px, calc((100vw - 668px)/2));
  }

  /* HERO */
  .hero__title {
    font-size: clamp(32px, 9.38vw, 72px);
  }

  .hero__decription {
    font-size: clamp(12px, 2.35vw, 18px);
  }

  /* Gallery */
  .gallery-section {
    position: relative;
    padding-bottom: 160px;
  }

  .gallery__container {
    flex-direction: column;
  }

  .choices {
    margin-bottom: 88px;
    width: 280px;
  }

  .gallery__description {
    position: absolute;
    bottom: 78px;
    padding-right: max(50px, calc((100vw - 1600px)/2));
  }

  .gallery__swiper-container {
    width: 100%;
  }

  .gallery__swiper-buttons {
    padding-left: 0;
  }

  .gallery__swiper-slide {
    max-height: 280px;
    overflow: hidden;
  }

  /* CATALOG */
  .catalog__title {
    margin-right: clamp(5px, 5.25vw, 40px);
  }

  .catalog__title-list-countries {
    margin-bottom: 16px;
  }

  .catalog__list-countries {
    transform: translateY(0);
  }

  .catalog__item-countries:not(:last-child) {
    margin-right: clamp(34px, 7vw, 54px);
  }

  .catalog__description > p {
    margin-bottom: 20px;
  }

  .catalog__wrapper {
    flex-direction: column;
  }

  #accordion-Italy {
    margin-bottom: 50px;
  }

  .catalog-wrapper__figure {
    margin-right: 0;
    order: 2;
  }

  .catalog-wrapper__picture {
    display: block;
  }

  .catalog-wrapper__title {
    padding-top: 32px;
  }

  .accordion__list {
    padding: 25px 0 29px 0;
    /* height: 342px; Для макета */
    column-count: 3;
    column-gap: 40px;
  }

  /* EVENTS */
  .events-section {
    padding-top: 76px;
  }

  .events__container {
    padding-bottom: 85px;
  }

  .events__swiper-wrapper {
    flex-flow: row wrap;
    column-gap: clamp(33px, 2.75vw, 40px);
  }

  .events__card {
    width: 47.5%;
  }

  .events__card:nth-child(3) {
    display: none;
  }

  .events__card:nth-child(3).visually {
    display: flex;
  }

  /* EDITIONS */
  .edition-section {
    padding-bottom: 85px;
  }

  .edition__container {
    flex-direction: column;
  }

  .edition__categories-prices {
    margin-bottom: 23px;
  }

  .edition__categories {
    flex-direction: row;
    margin-bottom: 28px;
  }

  .edition__categoties_wrapper:not(:last-child) {
    margin-right: 57px;
  }

  .edition__price-range {
    display: inline-flex;
  }

  .edition__image-description {
    padding: 12px 0 18px 0;
  }

  /* PROJECTS */
  .projects__description {
    margin-bottom: 60px;
  }

  .projects__partner-title {
    margin-bottom: 32px;
  }

  .project__card {
    padding: 18px;
    height: clamp(106px, 10.35vw, 128px);
  }

  .partners-swiper-button-prev,
  .partners-swiper-button-next {
    top: 70%;
  }

  /* CONTACTS */
  .contacts__wrapper_address-form-title {
    margin-bottom: 35px;
  }

  .contacts-section {
    padding-top: 87px;
  }

  .contacts__address-form-social {
    padding-left: max(15px, calc((100vw - 668px)/2));
  }
}
