@media (max-width: 576px) {
  /* HEADER */
  .header__top_background {
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.65));
  }

  .header-top__container {
    position: relative;
    padding-top: 13px;
    padding-bottom: 8px;
    transition: all .3s ease-in-out;
  }

  .burger {
    transform: translateY(-2px);
  }

  .burger:hover > .burger__wand:nth-child(2),
  .burger:hover > .burger__wand:nth-child(3) {
    width: 20px;
  }

  .burger__wand {
    width: 20px;
    height: 2px;
  }

  .burger__wand:not(:last-child) {
    margin-bottom: 5px;
  }

  .burger__wand:nth-child(2) {
    width: 16px;
  }

  .burger__wand:nth-child(3) {
    width: 13px;
  }

  .nav {
    padding: 56px 15px;
  }

  .nav__item {
    margin-bottom: 18px;
    font-size: 18px;
  }

  .nav__close {
    top: 15px;
    left: 16px;
    width: 15px;
    height: 15px;
  }

  .nav__close::before,
  .nav__close::after {
    height: 2px;
  }

  .header__log-in {
    padding: 11px 31px 11px 41px;
    font-size: 12px;
    background: url(../images/To-come-in.svg) 25px center no-repeat;
    background-size: 9px;
  }

  .header__log-in:hover {
    background: url(../images/To-come-in-hover.svg) 25px center no-repeat;
    background-size: 12px;
  }

  .logo {
    width: 97px;
  }

  .header-top__btn,
  .header-top__close {
    width: 16px;
    height: 16px;
  }

  .header-top__btn_end {
    align-self: flex-end;
  }

  .header-top__input:focus + .header-top__btn,
  .header-top__input:hover + .header-top__btn,
  .header-top__btn:focus,
  .header-top__btn:hover {
    width: 16px;
    height: 16px;
    background: url(../images/Search-hover.svg) center center no-repeat transparent;
    background-size: cover;
  }

  .header-top__container_searching {
    padding-bottom: 20px;
    transition: padding-bottom .3s ease-in-out;
  }

  .header-top__search {
    padding: 0px 2 3px 0;
    transform: translate(0, 2px);
  }

  .header-top__search_open {
    transform: translateX(0);
  }

  .header-top__search_wrapper--height {
    height: 38px;
  }

  .header-top__search_wrapper {
    transform: translateX(96%);
  }

  .header-top__search_open {
    transform: translateX(0);
  }

  /* HERO */
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero__title {
    max-width: clamp(258px, 80.65vw,585px);
    transform: translateX(1px);
  }

  .hero__decription {
    margin-right: 0;
    max-width: 265px;
    line-height: 16px;
    font-weight: 400;
  }

  .hero__link {
    padding: 10px 17px;
  }

  /* About-US */
  .about-us__title {
    margin-bottom: 16px;
  }

  /* GALLERY */
  .gallery-section {
    padding-top: 54px;
  }

  .gallery__title {
    margin-bottom: 22px;
  }

  .choices {
    width: 290px;
  }

  .gallery__swiper-container {
    height: 500px;
  }

  .gallery-swiper-pagination,
  .gallery-swiper-button-next {
    margin-left: 15px;
  }

  .gallery__description {
    bottom: 78px;
    padding-right: max(15px, calc((100vw - 1600px)/2));
  }

  .gallery__swiper-slide {
    max-height: 380px;
    text-align: center;
  }

  /* CATALOG */
  .catalog__title {
    margin-bottom: 14px;
  }

  .catalog__button {
    width: clamp(32px, 10vw, 46px);
    height: clamp(32px, 10vw, 46px);
  }

  .catalog__item-countries:not(:last-child) {
    margin-right: clamp(32px, 7vw, 54px);
  }

  .catalog__description > p {
    display: none;
  }

  .ui-accordion-header {
    min-height: clamp(74px, 22.9vw, 114px);
  }

  .ui-accordion-header-text {
    transform: translate(0);
    font-size: clamp(18px, 5.65vw,24px);
  }

  .ui-icon {
    width: clamp(30px, 9.4vw, 50px);
    height: clamp(30px, 9.4vw, 50px);
  }

  .ui-icon::before,
  .ui-icon::after {
    height: clamp(7px, 2.2vw, 12px);
  }

  .ui-icon::before {
    left: clamp(40%, 50vw, 41.5%);
  }

  .ui-icon::after {
    right: clamp(40%, 50vw, 41.5%);
  }

  #accordion-Italy {
    margin-bottom: 49px;
  }

  .accordion__list {
    padding: 15px 0;
    height: 807px; /*Для макета*/
    column-count: 1;
  }

  .catalog__figure {
    padding-top: 0;
  }

  .catalog-wrapper__title {
    padding-top: 22px;
    padding-bottom: 18px;
  }

  /* GALLERY */
  .gallery__swiper-buttons {
    transform: translateY(-55px);
  }

  /* EVENTS */
  .events-section {
    padding-top: 52px;
    padding-bottom: 50px;
  }

  .events__title {
    margin-bottom: 3px;
  }

  .events__swiper-container {
    margin-bottom: 10px;
  }

  .events__swiper-wrapper {
    flex-wrap: nowrap;
    column-gap: initial;
  }

  .events__card {
    margin-right: 0;
  }

  .events__card:nth-child(3),
  .events__card:nth-child(4),
  .events__card:nth-child(5) {
    display: flex;
    opacity: 1;
  }

  .events-card__signature > div {
    line-height: 15px;
  }

  .events-card__title {
    margin-bottom: 35px;
  }

  .events-card__figcaption {
    padding: 14px 10px 54px 28px;
  }

  .events-card__description {
    margin-bottom: 0;
  }

  .events__button {
    display: none;
  }

  .events__swiper-pagination {
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    background-color: #666;
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet:not(:last-child) {
    margin-right: 15px;
  }

  /* EDITIONS */
  .edition-section {
    padding-top: 52px;
    padding-bottom: 5px;
  }

  .edition__categories-prices {
    margin-right: 0;
  }

  .edition__categories-text {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 34px;
    cursor: pointer;
  }

  .edition__categories-text::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    height: 10px;
    background: url(../images/checkmark-down.svg) center center no-repeat transparent;
    transform: translateY(-50%);
    transition: transform .5s ease-in-out;
  }

  .edition__categories-text.is-open::after {
    transform: rotateX(180deg);
  }

  .edition__categories {
    flex-direction: column;
    margin-bottom: 25px;
  }

  .edition__categoties_wrapper:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0;
  }

  .edition__label {
    position: relative;
    display: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 35px;
  }

  .edition__label:not(:last-child) {
    margin-bottom: 0;
  }

  .label__close {
    position: absolute;
    top: 50%;
    right: 0;
    border: none;
    width: 12px;
    height: 12px;
    background: transparent;
    transform: translateY(-50%);
  }

  .label__close::before,
  .label__close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--purple-hover);
    transform: translateY(-50%);
  }

  .label__close::before {
    transform: rotate(45deg);
  }

  .label__close::after {
    transform: rotate(-45deg);
  }

  .edition__checkbox:checked ~ .label__close {
    display: block;
  }

  .edition__price {
    margin-bottom: 25px;
  }

  .edition__swiper-buttons {
    display: none;
  }

  .edition__swiper-container {
    margin-left: 0;
  }

  .edition__swiper-wrapper {
    flex-flow: row wrap;
    margin-left: 0;
    column-count: 2;
    column-gap: 30px;
  }

  .edition__swiper-slide {
    margin-bottom: 49px;
    padding-right: 0;
    max-width: 130px;
  }

  .edition__image-description {
    flex-direction: column;
    padding: 9px 0 13px 0;
    font-size: 12px;
  }

  .edition__image-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .edition__image-author {
    display: -webkit-box;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-right: 13px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .edition__image-price,
  .edition__link {
    font-size: 12px;
    white-space: nowrap;
  }

  .edition__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 19px;
    width: 100%;
  }

  /* PROJECTS */
  .projects-section {
    padding-top: 55px;
  }

  .projects__title {
    margin-bottom: 15px;
  }

  .projects__description {
    margin-bottom: 15px;
  }

  .projects__partner-title {
    margin-bottom: 17px;
    font-size: 18px;
  }

  .projects__swiper-container {
    margin: 0 47px;
  }

  .project__card {
    padding: 27px 45px;
    height: clamp(65px, 10.35vw, 106px);
  }

  .partners-swiper-button-prev,
  .partners-swiper-button-next {
    top: 85%;
  }

  /* CONTACTS */
  .contacts__address-form-social {
    padding-top: 22px;
    padding-bottom: 23px;
  }

  .contacts__address-form-social_wrapper {
    padding-top: 0;
  }

  .contacts__address-form-title {
    font-size: clamp(18px, 5.7vw, 24px);
  }

  .contacts__address-text {
    font-size: clamp(14px, 4.4vw, 16px);
  }

  .contacts__social-icons {
    margin-right: 22px;
  }

  .contacts__social-icons > svg {
    width: 50px;
    height: 50px;
  }

  /* FOOTER */
  .footer_container {
    padding: 20px 15px;
    flex-direction: column-reverse;
  }

  .footer__logo {
    margin-right: 0;
  }

  .footer__socials {
    margin-bottom: 18px;
  }

  .socials__item:not(:last-child) {
    margin-right: 30px;
  }

  .footer__social-link,
  .footer__social-link > svg {
    width: 50px;
    height: 50px;
  }
}
