@media (max-width: 576px) {
  /* HEADER */
  .header-top__container {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .burger:hover > .burger__wand:nth-child(2),
  .burger:hover > .burger__wand:nth-child(3) {
    width: 20px;
  }

  .burger__wand {
    width: 20px;
    height: 2px;
  }

  .burger__wand:not(:last-child) {
    margin-bottom: 5px;
  }

  .burger__wand:nth-child(2) {
    width: 16px;
  }

  .burger__wand:nth-child(3) {
    width: 13px;
  }

  .header__logo {
    width: 97px;
  }

  .header-bottom__btn_top {
    width: 16px;
  }

  /* HERO */
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero__title {
    max-width: clamp(258px, 80.65vw,585px);
  }

  .hero__decription {
    margin-right: 0;
    max-width: 265px;
    line-height: 16px;
    font-weight: 400;
  }

  /* GALLERY */
  .choices {
    width: 310px;
  }

  .gallery__swiper-container {
    height: 500px;
  }

  .gallery-swiper-pagination,
  .gallery-swiper-button-next {
    margin-left: 15px;
  }

  .gallery__description {
    bottom: clamp(45px, 2vw, 78px);
  }

  .gallery__swiper-slide {
    text-align: center;
  }

  /* CATALOG */
  .catalog__title {
    margin-bottom: 12px;
  }

  .catalog__button {
    width: clamp(32px, 10vw, 46px);
    height: clamp(32px, 10vw, 46px);
  }

  .catalog__button::after {
    width: 44px;
    height: 44px;
  }

  .catalog__item-countries:not(:last-child) {
    margin-right: clamp(32px, 7vw, 54px);
  }

  .catalog__description > p {
    display: none;
  }

  .ui-accordion-header {
    min-height: clamp(73px, 22.9vw, 114px);
  }

  .ui-accordion-header-text {
    font-size: clamp(18px, 5.65vw,24px);
  }

  .ui-icon {
    width: clamp(30px, 9.4vw, 50px);
    height: clamp(30px, 9.4vw, 50px);
  }

  .ui-icon::before,
  .ui-icon::after {
    height: clamp(7px, 2.2vw, 12px);
  }

  .ui-icon::before {
    left: clamp(40%, 50vw, 41.5%);
  }

  .ui-icon::after {
    right: clamp(40%, 50vw, 41.5%);
  }

  .accordion__list {
    padding: 18px 0 20px 0;
    height: 810px; /* Для макета */
    column-count: 1;
  }

  .catalog__figure {
    padding-top: 0;
  }

  .catalog-wrapper__title {
    padding-top: 22px;
    padding-bottom: 18px;
  }

  /* GALLERY */
    .gallery__swiper-buttons {
    transform: translateY(-55px);
  }

  /* EVENTS */
  .events-section {
    padding-top: 55px;
  }

  .events__container {
    padding-bottom: 45px;
  }

  .events__title {
    margin-bottom: 12px;
  }

  .events__swiper-wrapper {
    flex-wrap: nowrap;
  }

  .events__card {
    flex: 0 1 100%;
    margin: 0;
  }

  .events__button {
    display: none;
  }

  /* EDITIONS */
  .edition-section {
    padding-top: 25px;
  }
}
