@media (max-width: 576px) {
  /* HEADER */
  .header-top__container {
    padding-top: 12px;
    padding-bottom: 8px;
  }

  .burger {
    transform: translateY(-2px);
  }

  .burger:hover > .burger__wand:nth-child(2),
  .burger:hover > .burger__wand:nth-child(3) {
    width: 20px;
  }

  .burger__wand {
    width: 20px;
    height: 2px;
  }

  .burger__wand:not(:last-child) {
    margin-bottom: 5px;
  }

  .burger__wand:nth-child(2) {
    width: 16px;
  }

  .burger__wand:nth-child(3) {
    width: 13px;
  }

  .logo {
    width: 97px;
  }

  .header-bottom__btn_top {
    transform: scale(.75) translate(5px,-2px);
  }

  /* HERO */
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero__title {
    max-width: clamp(258px, 80.65vw,585px);
    transform: translateX(1px);
  }

  .hero__decription {
    margin-right: 0;
    max-width: 265px;
    line-height: 16px;
    font-weight: 400;
  }

  /* GALLERY */
  .choices {
    width: 290px;
  }

  .gallery__swiper-container {
    height: 500px;
  }

  .gallery-swiper-pagination,
  .gallery-swiper-button-next {
    margin-left: 15px;
  }

  .gallery__description {
    bottom: 78px;
    padding-right: max(15px, calc((100vw - 1600px)/2));
  }

  .gallery__swiper-slide {
    text-align: center;
  }

  /* CATALOG */
  .catalog__title {
    margin-bottom: 12px;
  }

  .catalog__button {
    width: clamp(32px, 10vw, 46px);
    height: clamp(32px, 10vw, 46px);
  }

  .catalog__item-countries:not(:last-child) {
    margin-right: clamp(32px, 7vw, 54px);
  }

  .catalog__description > p {
    display: none;
  }

  .ui-accordion-header {
    min-height: clamp(73px, 22.9vw, 114px);
  }

  .ui-accordion-header-text {
    font-size: clamp(18px, 5.65vw,24px);
  }

  .ui-icon {
    width: clamp(30px, 9.4vw, 50px);
    height: clamp(30px, 9.4vw, 50px);
  }

  .ui-icon::before,
  .ui-icon::after {
    height: clamp(7px, 2.2vw, 12px);
  }

  .ui-icon::before {
    left: clamp(40%, 50vw, 41.5%);
  }

  .ui-icon::after {
    right: clamp(40%, 50vw, 41.5%);
  }

  .accordion__list {
    padding: 18px 0 20px 0;
    height: 810px; /* Для макета */
    column-count: 1;
  }

  .catalog__figure {
    padding-top: 0;
  }

  .catalog-wrapper__title {
    padding-top: 22px;
    padding-bottom: 18px;
  }

  /* GALLERY */
    .gallery__swiper-buttons {
    transform: translateY(-55px);
  }

  /* EVENTS */
  .events-section {
    padding-top: 55px;
  }

  .events__container {
    padding-bottom: 50px;
  }

  .events__title {
    margin-bottom: 3px;
  }

  .events__swiper-container {
    margin-bottom: 12px;
  }

  .events__swiper-wrapper {
    flex-wrap: nowrap;
    column-count: 1;
  }

  .events__card {
    margin-right: 0;
  }

  .events__card:nth-child(3),
  .events__card:nth-child(4),
  .events__card:nth-child(5) {
    display: flex;
  }

  .events-card__figcaption {
    padding: 14px 10px 54px 28px;
  }

  .events__button {
    display: none;
  }

  .events__swiper-pagination {
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    background-color: #666;
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet:not(:last-child) {
    margin-right: 15px;
  }

  /* EDITIONS */
  .edition-section {
    padding-top: 52px;
    padding-bottom: 0;
  }

  .edition__categories-prices {
    margin-right: 0;
  }

  .edition__categories-text {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 38px;
    cursor: pointer;
  }

  .edition__categories-text::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    height: 10px;
    background: url(../images/checkmark-down.svg) center center no-repeat transparent;
    transform: translateY(-50%);
    transition: transform .5s ease-in-out;
  }

  .edition__categories-text.is-open::after {
    transform: rotateX(180deg);
  }

  .edition__categories-text + .edition__categories > .edition__label {
    display: none;
  }

  .edition__categories-text.is-open + .edition__categories > .edition__label  {
    display: flex;
  }

  .edition__categories {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    column-count: 1;
  }

  .edition__label {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 35px;
  }

  .edition__label:not(:last-child) {
    margin-bottom: 0;
  }

  .edition__price {
    margin-bottom: 50px;
  }

  .edition__swiper-buttons {
    display: none;
  }

  .edition__swiper-container {
    margin-left: 0;
  }

  .edition__swiper-wrapper {
    flex-flow: row wrap;
    margin-left: 0;
    column-count: 2;
    column-gap: 30px;
  }

  .edition__swiper-slide {
    margin-bottom: 50px;
    padding-right: 0;
    max-width: 130px;
  }

  .edition__image-description {
    flex-direction: column;
    font-size: 12px;
  }

  .edition__image-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .edition__image-author {
    display: -webkit-box;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    margin-right: 13px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .edition__image-price,
  .edition__link {
    font-size: 12px;
    white-space: nowrap;
  }

  .edition__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 19px;
    width: 100%;
  }

  /* PROJECTS */
  .projects-section {
    padding-top: 53px;
  }

  .projects__title {
    margin-bottom: 15px;
  }

  .projects__description {
    margin-bottom: 15px;
  }

  .projects__partner-title {
    margin-bottom: 17px;
    font-size: 18px;
  }

  .projects__swiper-container {
    margin: 0 47px;
  }

  .project__card {
    padding: 27px 45px;
    height: clamp(65px, 10.35vw, 106px);
  }

  .partners-swiper-button-prev,
  .partners-swiper-button-next {
    top: 85%;
  }

  /* CONTACTS */
  .contacts__address-form-title {
    font-size: clamp(18px, 5.7vw, 24px);
  }

  .contacts__address-text {
    font-size: clamp(14px, 4.4vw, 16px);
  }

  /* FOOTER */
  .footer_container {
    padding: 10px 15px 5px;
  }
}
