*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid var(--purple-active);
}

/* Open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/opensans-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/opensans-regular.woff') format('woff');
  /* Modern Browsers */
}

/* Open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/opensans-semibold.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/opensans-semibold.woff') format('woff');
  /* Modern Browsers */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/opensans-bold.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/opensans-bold.woff') format('woff');
  /* Modern Browsers */
}

:root {
  --dark: #000;
  --purple-hover: #C283F3;
  --purple-active: #7943A4;
  --white: #fff;
}

body {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

::selection {
  background-color: rgb(110, 20, 0, .4);
}

.container {
  max-width: 1950px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.flex {
  display: flex;
}

.section__title {
  font-weight: 400;
  font-size: 48px;
}

/* HEADER */
.header {
  position: relative;
}

.header__top {
  background-color: var(--dark);
}

.header-top__container {
  align-items: center;
  padding-top: 29px;
  padding-bottom: 28px;
  font-size: 18px;
}

.header__logo {
  flex-shrink: 0;
  margin-right: 179px;
}

.header-nav__list {
  font-weight: 600;
}

.header-nav__item:not(:last-child) {
  margin-right: 62px;
}

.header-nav__link:hover {
  color: var(--purple-hover);
  transition: color .1s ease-in-out;
}

.header-nav__link:active {
  color: var(--purple-active);
  outline: none;
  transition: color .1s ease-in-out;
}

.header-nav__link,
.header__log-in {
  color: var(--white);
  transition: color .1s ease-in-out;
}

.header__log-in {
  margin-left: auto;
  padding-left: 22px;
  color: var(--white);
  background: url(../images/To-come-in.svg) left center no-repeat;
  transition: color .1s ease-in-out, background .2s ease-in-out;
}

.header__log-in:hover {
  color: var(--purple-hover);
  background: url(../images/To-come-in-hover.svg) left center no-repeat;
  transition: color .1s ease-in-out, background .2s ease-in-out;
}

.header__log-in:active {
  color: var(--purple-active);
  outline: none;
  background: url(../images/To-come-in-active.svg) left center no-repeat;
  transition: color .1s ease-in-out, background .1s ease-in-out;
}

.header__bottom {
  position: relative;
  color: var(--white);
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.header-bottom__container {
  justify-content: space-between;
  align-items: center;
}

.filter__item {
  position: relative;
  padding: 23px 0;
  line-height: 24px;
  font-size: 18px;
  transition: color .1s ease-in-out;
  cursor: pointer;
}

.filter__item:not(:last-child) {
  margin-right: 113px;
}

.filter__item:hover {
  color: var(--purple-hover);
  transition: color .1s ease-in-out;
}

.filter__item:active {
  color: var(--purple-active);
  transition: color .1s ease-in-out;
}

.filter__item::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: url(../images/checkmark-down.svg) right center no-repeat transparent;
  background-size: contain;
  transform: translate(15%, -50%);
  transition: background .1s ease-in-out;
}

.filter__item:hover::after {
  background: url(../images/checkmark-down-hover.svg) right center no-repeat transparent;
  background-size: contain;
  transform: translate(15%, -50%);
  transition: background .1s ease-in-out;
}

.filter__item:active::after {
  background: url(../images/checkmark-down-active.svg) right center no-repeat transparent;
  background-size: contain;
  transform: translate(15%, -50%);
  transition: background .1s ease-in-out;
}

.filter__item.open {
  color: var(--purple-active);
  transition: color .1s ease-in-out;
}

.filter__item.open::after {
  top: 55%;
  background: url(../images/checkmark-down-open.svg) right center no-repeat transparent;
  background-size: contain;
  transform: translate(15%, -50%);
  transition: background .1s ease-in-out;
}

.header-bottom__search {
  position: relative;
}

.header-bottom__btn {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 22px;
  height: 22px;
  background: url(../images/Search.svg) center center no-repeat transparent;
  transform: translateX(-140%);
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.header-bottom__input:focus + .header-bottom__btn,
.header-bottom__input:hover + .header-bottom__btn,
.header-bottom__btn:focus,
.header-bottom__btn:hover {
  background: url(../images/Search-hover.svg) center center no-repeat transparent;
  transition: background .15s ease-in-out;
}

.header-bottom__btn:active {
  background: url(../images/Search-active.svg) center center no-repeat transparent;
}

.header-bottom__input {
  border: none;
  border-bottom: 1px solid var(--white);
  width: 220px;
  color: var(--purple-hover);
  -webkit-text-fill-color: var(--white);
  background: transparent;
  transition: border-bottom-color .15s ease-in-out;
}

.header-bottom__input:hover {
  border-bottom-color: var(--purple-hover);
  transition: border-bottom-color .15s ease-in-out;
}

.header-bottom__input::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

/* HERO */
.hero-section {
  position: relative;
  min-height: 700px;
}

.hero__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 73px;
  color: var(--white);
  z-index: 2;
}

.hero__swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(-70px);
}

.swiper-slide--image1 {
  background: url(../images/birmingham-museums-1@1x.jpg) center center no-repeat transparent;
  background-size: cover;
}

.swiper-slide--image2 {
  background: url(../images/birmingham-museums-2@1x.jpg) center center no-repeat transparent;
  background-size: cover;
}

.swiper-slide--image3 {
  background: url(../images/birmingham-museums-3@1x.jpg) center center no-repeat transparent;
  background-size: cover;
}

.hero__title {
  margin-bottom: 20px;
  max-width: 570px;
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
  transform: translateX(-5px);
}

.hero__decription {
  margin-bottom: 92px;
  max-width: 570px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero__link {
  display: inline-block;
  padding: 22px 33px;
  border: 3px solid #9D5CD0;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
  background-color: #9D5CD0;
  transition: border .15s ease-in-out, background-color .15s ease-in-out;
}

.hero__link:hover {
  border-color: #D1A9F0;
  transition: border-color .15s ease-in-out;
}

.hero__link:focus {
  border-color: #7943A4;
}

.hero__link:active {
  background-color: #7943A4;
  transition: background-color .15s ease-in-out
}

/* ABOUT-US */
.about-us-section {
  padding-top: 16px;
  padding-bottom: 70px;
}

.about-us__title {
  margin-bottom: 20px;
  transform: translateX(-3px);
}

.about-us__description {
  max-width: 1080px;
  line-height: 32px;
}

/* GALLERY */
.gallery-section {
  padding-top: 85px;
  padding-bottom: 80px;
  color: var(--white);
  background: url(../images/birmingham-museums-4@1x.jpg) center center no-repeat transparent;
  background-size: cover;
}

.gallery-section__filter {
  width: 26%;
  flex-direction: column;
}

.gallery__title {
  margin-bottom: 27px;
}

.gallery__filter-by {
  margin-bottom: 18px;
  font-weight: 600;
}

.choices__inner,
.choices__list--dropdown {
  padding: 7px 13px;
  min-height: auto;
  border: 1px solid var(--white);
  border-radius: 6px;
  background-color: transparent;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices__list--dropdown {
  color: #999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.gallery__description {
  margin-top: auto;
  font-size: 17px;
  line-height: 32px;
  transform: translateY(8px);
}

.gallery-section__picture {
  position: relative;
  margin-left: 50px;
  width: 75%;
  min-height: 830px;
}

.gallery__swiper-buttons {
  padding-top: 18px;
  padding-left: 5px;
}

.swiper-pagination {
  position: static;
  display: inline-block;
  margin-left: 48px;
  width: auto;
}

.swiper-button-prev {
transform: translateY(25px);
}

.swiper-button-next {
  margin-left: 100px;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #666;
}

.swiper-button-prev:after, 
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next::after {
  font-size: 10px;
  color: var(--white);
}

.gallery__swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 80px;
  overflow-x: hidden;
}

.gallery__row {
  justify-content: space-between;
}

.gallery__row:not(:last-child) {
  margin-bottom: 50px;
}

.gallery__image {
  max-width: 350px;
}

/* Custom map */
.map {
  width: 460px;
  height: 460px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}
