*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid var(--purple-active);
}

/* Open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/opensans-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/opensans-regular.woff') format('woff');
  /* Modern Browsers */
}

/* Open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/opensans-semibold.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/opensans-semibold.woff') format('woff');
  /* Modern Browsers */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/opensans-bold.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/opensans-bold.woff') format('woff');
  /* Modern Browsers */
}

:root {
  --dark: #000;
  --purple-hover: #c283f3;
  --purple-active: #7943a4;
  --purple-focus: #9d5cd0;
  --purple-border: #d1a9F0;
  --white: #fff;
  --border: #cacaca;
}

body {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

::selection {
  background-color: rgb(110, 20, 0, .4);
}

.js-focus-visible:focus:not(.focus-visible) {
  outline: none;
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
  outline: none;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
}

.section-title {
  font-weight: 400;
  font-size: 48px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* HEADER */
.header {
  position: relative;
}

.header__top {
  background-color: var(--dark);
}

.header-top__container {
  align-items: center;
  padding: 29px 15px;
  font-size: 18px;
}

.header__logo {
  margin-right: 179px;
}

.logo {
  display: inline-block;
  flex-shrink: 0;
  transition: filter .15s ease-in-out;
}

.logo:hover {
  filter: drop-shadow(0px 0px 20px rgba(247, 246, 248, 0.7));
}

.nav__list {
  font-weight: 600;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.header__logo,
.nav__link,
.header__log-in,
.filter-item__button,
.gallery-description__link,
.accordion__item-button,
.events-item__link,
.project__link {
  position: relative;
  outline: none;
}

.header__logo::after,
.nav__link::after,
.header__log-in::after,
.filter-item__button::after,
.gallery-description__link::after,
.accordion__item-button::before,
.events-item__link:before,
.project__link::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 130%;
  border: 2px solid transparent;
  transform: translate(-50%, -50%);
  transition: border .15s ease-in-out;
}

.header__logo:focus::after,
.nav__link:focus::after,
.header__log-in:focus::after,
.filter-item__button:focus::after,
.gallery-description__link:focus::after,
.accordion__item-button:focus::before,
.events-item__link:focus::before,
.project__link:focus::after {
  border: 2px solid var(--purple-active);
}

.nav__link:hover {
  color: var(--purple-hover);
}

.nav__link:active {
  color: var(--purple-active);
  outline: none;
}

.nav__link:focus {
  outline: none;
}

.nav__link,
.header__log-in {
  color: var(--white);
  transition: color .15s ease-in-out;
}

.header__log-in {
  margin-left: auto;
  padding-left: 18px;
  color: var(--white);
  background: url(../images/To-come-in.svg) left center no-repeat;
  transition: color .15s ease-in-out, background .15s ease-in-out;
}

.header__log-in:hover {
  color: var(--purple-hover);
  background: url(../images/To-come-in-hover.svg) left center no-repeat;
}

.header__log-in:active {
  color: var(--purple-active);
  outline: none;
  background: url(../images/To-come-in-active.svg) left center no-repeat;
}

.header__bottom {
  position: relative;
  color: var(--white);
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  transform: translateY(-1px);
}

.header-bottom__container {
  justify-content: space-between;
  align-items: center;
}

.filter__item {
  position: relative;
  padding: 23px 0;
  line-height: 24px;
  font-size: 18px;
  transition: color .1s ease-in-out;
}

.filter__item:not(:last-child) {
  margin-right: 96px;
}

.filter-item__button {
  border: none;
  color: var(--white);
  background-color: transparent;
  transition: color .15s ease-in-out;
  cursor: pointer;
}

.filter-item__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 30px rgba(207, 36, 50, 0.726);
}

.simplebar-mask {
  margin: 40px;
}

.filter-item__dropdown_active {
  display: block;
}

.simplebar-track.simplebar-vertical {
  top: 50%;
  right: 19px;
  width: 2px;
  height: 220px;
  background: var(--dark);
  transform: translateY(-50%);
}

.simplebar-scrollbar::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  background-color: var(--purple-focus);
  opacity: 1;
}

.simplebar-scrollbar.simplebar-visible::before {
  visibility: visible;
  opacity: 1;
}

.dropdown__item {
  position: relative;
  display: block;
  padding: 9px 12px;
  border: 2px solid transparent;
  color: var(--white);
  cursor: pointer;
  transition: border .15s ease-in-out;
}

.dropdown__item:hover {
  border: 2px solid var(--purple-focus);
}

.dropdown__item:active {
  border: 2px solid var(--purple-active);
}

.dropdown__item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
}

.dropdown__item:active:after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__item_Tintoretto {
  background: url(../images/birmingham-museums-2@1x.jpg) center center no-repeat transparent;
  background-size: cover;
}

.dropdown__item_Frederick {
  background: url(../images/Rectangle-89@1x.jpg) center center no-repeat transparent;
  background-size: cover;
}

.dropdown__item_Leonardo {
  background: url(../images/birmingham-museums-1@1x.jpg) center center no-repeat transparent;
  background-size: cover;
}

.dropdown__item_Verrocchio {
  background: url(../images/Rectangle-89@1x.jpg) center center no-repeat transparent;
  background-size: cover;
}

.filter-item__button > svg {
  stroke: var(--white);
  transition: stroke .15s ease-in-out;
}

.filter-item__button:hover,
.filter-item__button:hover > svg {
  color: var(--purple-hover);
  stroke: var(--purple-hover);
}

.filter-item__button:active,
.filter-item__button:active > svg {
  color: var(--purple-active);
  stroke: var(--purple-active);
}

.filter-item__button_active {
  color: var(--purple-active);
}


.filter-item__button.filter-item__button_active > svg {
  transform: rotate(180deg);
  stroke: var(--purple-active);
}

.header-bottom__search {
  position: relative;
  align-items: center;
  padding: 7px;
  border: 2px solid transparent;
  transform: translate(7px, 5px);
}

.header-bottom__search_focus {
  border-color: var(--purple-active);
}

.header-bottom__btn {
  border: none;
  order: 1;
  width: 22px;
  height: 22px;
  background: url(../images/Search.svg) center center no-repeat transparent;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.header-bottom__btn {
  margin-right: 10px;
  transition: background .15s ease-in-out;
}

.header-bottom__input:focus+.header-bottom__btn,
.header-bottom__input:hover+.header-bottom__btn,
.header-bottom__btn:focus,
.header-bottom__btn:hover {
  background: url(../images/Search-hover.svg) center center no-repeat transparent;
}

.header-bottom__input:focus::placeholder {
  font-size: 0;
}

.header-bottom__input:focus,
.header-bottom__btn:focus {
  outline: none;
}

.header-bottom__btn:active {
  background: url(../images/Search-active.svg) center center no-repeat transparent;
}

.header-bottom__input {
  border: none;
  order: 2;
  border-bottom: 1px solid var(--white);
  width: 218px;
  color: var(--purple-hover);
  -webkit-text-fill-color: var(--white);
  background: transparent;
  transition: border-bottom .15s ease-in-out, background .15s ease-in-out;
}

.header-bottom__input:hover {
  border-bottom-color: var(--purple-hover);
}

.header-bottom__input::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

/* MAIN */
.main {
  margin-top: -69px;
}

/* HERO */
.hero-section {
  position: relative;
}

.hero__container {
  position: relative;
  padding-top: 143px;
  padding-bottom: 120px;
  color: var(--white);
  z-index: 1;
}

.hero__swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.hero__swiper-wrapper {
  transform: scale(1);
  animation: pulse 8s ease-in-out infinite;
}

@keyframes pulse {
  from {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1.5);
  }

  to {
    transform: scale(1.05);
  }
}

.swiper-slide__image {
  object-fit: contain;
}

.swiper-slide--image1 {
  background: url(../images/birmingham-museums-1@1x.jpg) center center no-repeat transparent;
  background-size: cover;
}

.swiper-slide--image2 {
  background: url(../images/birmingham-museums-2@1x.jpg) center center no-repeat transparent;
  background-size: cover;
}

.swiper-slide--image3 {
  background: url(../images/birmingham-museums-3@1x.jpg) center center no-repeat transparent;
  background-size: cover;
}

.hero__title {
  margin-bottom: 20px;
  max-width: 570px;
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
  transform: translateX(-5px);
}

.hero__decription {
  margin-bottom: 92px;
  max-width: 570px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero__link {
  display: inline-block;
  padding: 22px 33px;
  border: 3px solid var(--purple-focus);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
  background-color: var(--purple-focus);
  transition: border .15s ease-in-out, background-color .15s ease-in-out;
}

.hero__link:hover {
  border-color: var(--purple-border);
}

.hero__link:focus {
  border-color: var(--purple-active);
  outline: none;
}

.hero__link:active {
  background-color: var(--purple-active);
}

/* ABOUT-US */
.about-us {
  padding-top: 88px;
  padding-bottom: 69px;
}

.about-us__title {
  margin-bottom: 20px;
  transform: translateX(-3px);
}

.about-us__description {
  max-width: 1080px;
  line-height: 32px;
}

/* GALLERY */
.gallery-section {
  padding-top: 85px;
  padding-bottom: 81px;
  color: var(--white);
  background: url(../images/birmingham-museums-4@1x.jpg) center center no-repeat transparent;
  background-size: cover;
}

.gallery-section__filter {
  width: 26%;
  flex-direction: column;
}

.gallery__title {
  margin-bottom: 27px;
}

.gallery__filter-by {
  margin-bottom: 18px;
  font-weight: 600;
}

.gallery-description__link {
  color: var(--purple-border);
  transition: color .15s ease-in-out;
}

.gallery-description__link:hover {
  color: var(--purple-hover);
}

.gallery-description__link:active {
  color: var(--purple-active);
}

.choices__inner,
.choices__list--dropdown {
  padding: 7px 13px;
  min-height: auto;
  border: 1px solid var(--white);
  border-radius: 6px;
  background-color: transparent;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices__list--dropdown {
  color: #999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.choices[data-type*=select-one]::after {
  position: absolute;
  content: '';
  right: 12px;
  top: 50%;
  margin-top: -6px;
  border: none;
  width: 12px;
  height: 12px;
  background: url(../images/checkmark-down.svg) center center transparent no-repeat;
  pointer-events: none;
  z-index: 6;
}

.choices.is-focused.is-open::after {
  margin-top: -3px;
  border: none;
  background: url(../images/checkmark-down.svg) center center transparent no-repeat;
  transform: rotate(180deg);
  z-index: 6;
}

.choices__list--dropdown .choices__item--selectable {
  transition: color .15s ease-in-out;
}

.choices__list--dropdown .choices__item--selectable:hover {
  color: var(--white);
  opacity: 1;
}

.choices__list--dropdown .choices__item--selectable::after {
  visibility: hidden;
}

.gallery__description {
  margin-top: auto;
  font-size: 17px;
  line-height: 32px;
  transform: translateY(8px);
}

.gallery-section__picture,
.edition__gallery {
  position: relative;
  flex: 1 1 75%;
  margin-left: 50px;
  width: 75%;
  min-height: 830px;
}

.gallery__swiper-buttons,
.edition__swiper-buttons {
  align-items: center;
  padding-top: 32px;
  padding-left: 5px;
  line-height: 30px;
}

.gallery-swiper-pagination,
.edition-swiper-pagination {
  position: static;
  display: inline-block;
  margin-left: 18px;
  width: auto;
  transform: translateY(-10px);
}

.swiper-button-next {
  margin-left: 19px;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  border: 2px solid #666;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #666;
  transition: background .15s ease-in-out, border .15s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: var(--purple-focus);
  border: 2px solid var(--purple-focus);
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
  border: 2px solid var(--purple-active);
}

.swiper-button-prev:active,
.swiper-button-next:active {
  border-color: var(--purple-border);
  background-color: var(--purple-active);
}


.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next::after {
  font-size: 10px;
  color: var(--white);
}

.gallery__swiper-container,
.edition__swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 80px;
  overflow: hidden;
}

.gallery__row {
  justify-content: space-between;
}

.gallery__row:not(:last-child) {
  margin-bottom: 50px;
}

.gallery__wrapper-image,
.edition__wrapper-image {
  position: relative;
  border: none;
  max-width: 350px;
  cursor: pointer;
}

.gallery__wrapper-image::before {
  content: '';
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  background: center center no-repeat transparent;
  transition: background .15s ease-in-out;
}

.gallery__wrapper-image:hover::before {
  background: url(../images/Magnifier.svg) center center no-repeat rgba(0, 0, 0, 0.5);
}

.gallery__wrapper-image::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
}

.gallery__wrapper-image:active:after {
  background: linear-gradient(0deg, rgba(221, 220, 223, 0.4), rgba(194, 131, 243, 0.4));
}

/* CATALOG */
.catalog-section {
  padding-top: 82px;
}

.catalog__title {
  margin-right: 30px;
}

.catalog__title-list-countries {
  align-items: center;
  margin-bottom: 12px;
}

.catalog__item-countries {
  padding: 10px;
  width: 66px;
  height: 66px;
  cursor: pointer;
  transition: filter .15s ease-in-out;
}

.catalog__button {
  position: relative;
  display: inline-block;
  border: none;
  width: 46px;
  height: 46px;
  background: transparent;
  cursor: pointer;
}

.catalog__button:focus,
.contacts__social-icons:focus {
  outline: none;
}

.catalog__button::before,
.contacts__social-icons::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid var(--purple-active);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .15s ease-in-out;
  opacity: 0;
}

.catalog__button:focus::before,
.contacts__social-icons:focus::before {
  opacity: 1;
}

.catalog__button_France {
  background: url(../images/France.svg) center center no-repeat transparent;
  background-size: contain;
}

.catalog__button_Germany {
  background: url(../images/Germany.svg) center center no-repeat transparent;
  background-size: contain;
}

.catalog__button_Italy {
  background: url(../images/Italy.svg) center center no-repeat transparent;
  background-size: contain;
}

.catalog__button_Russia {
  background: url(../images/Russia.svg) center center no-repeat transparent;
  background-size: contain;
}

.catalog__button_Belgium {
  background: url(../images/Belgium.svg) center center no-repeat transparent;
  background-size: contain;
}

.catalog__button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  border: 2px solid var(--purple-focus);
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease-in-out;
}

.catalog__button.catalog__button_active::after {
  opacity: 1;
}

.catalog__button:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog__button:active {
  border: 2px solid var(--purple-focus);
  border-radius: 50%;
}

.catalog__item-countries:not(:last-child) {
  margin-right: 30px;
}

.catalog__description {
  display: none;
}

.catalog__description > p {
  margin-bottom: 40px;
  max-width: 1080px;
  line-height: 32px;
}

.catalog__description_active {
  display: block;
}

.catalog-wrapper__figure {
  flex: 1 1 47%;
  margin-right: 50px;
}

.catalog__figure {
  display: none;
}

.catalog__figure_active {
  display: block;
}

.catalog-wrapper__title {
  padding-top: 30px;
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 24px;
}

.catalog-wrapper__date {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  color: #999;
}

.catalog-wrapper__description {
  max-width: 750px;
  line-height: 32px;
}

.ui-accordion {
  flex: 1 1 50%;
  border-top: 1px solid var(--border);
}

.ui-accordion-header {
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: color .15s ease-in-out;
  min-height: 114px;
}

.ui-accordion-header.ui-accordion-header-active > .ui-accordion-header-icon {
  transform: rotate(180deg);
}

.ui-accordion-header:focus {
  outline: none;
}

.ui-accordion-header:focus > .ui-accordion-header-text::after {
  opacity: 1;
}

.ui-accordion-header-icon {
  border: 2px solid transparent;
  transition: border .15s ease-in-out;
}

.ui-accordion-header:focus > .ui-accordion-header-icon {
  border: 2px solid var(--purple-active);
}

.ui-accordion-header:hover {
  color: var(--purple-hover);
}

.ui-accordion-header:hover > .ui-icon {
  background: var(--purple-hover);
}

.ui-accordion-header:active > .ui-icon {
  border: 2px solid var(--purple-border);
  background: var(--purple-active);
}

.ui-accordion-header:active > .ui-accordion-header-text {
  color: var(--purple-active);
}

.ui-accordion-header:hover > .ui-icon::before,
.ui-accordion-header:hover > .ui-icon::after {
  background: var(--white);
}

.ui-accordion-header-text {
  position: relative;
  font-size: 24px;
  font-weight: 700;
}

.ui-accordion-header-text::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 120%;
  border: 2px solid var(--purple-active);
  transform: translate(-50%, -50%);
  transition: opacity .15s ease-in-out;
  opacity: 0;
}

.ui-widget-content,
.ui-state-default {
  border: none;
  border-bottom: 1px solid var(--border);
  background: transparent;
}

.ui-widget-content {
  padding: 27px 0;
}

.ui-icon-circle-arrow-s {
  transition: transform .15s ease-in-out;
  transform: rotate(-180deg);
}

.ui-icon-circle-arrow-e {
  transition: transform .15s ease-in-out;
  transform: rotate(0);
}

.ui-icon {
  position: relative;
  right: 0;
  order: 3;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--border);
  background-image: none;
  transition: background .15s ease-in-out;
}

.ui-icon::before,
.ui-icon::after {
  content: "";
  position: absolute;
  top: 55%;
  width: 1px;
  height: 12px;
  background-color: var(--dark);
  transition: background .15s ease-in-out;
}

.ui-icon::before {
  left: 41.5%;
  transform: translateY(-50%) rotate(-45deg);
}

.ui-icon::after {
  right: 41.5%;
  transform: translateY(-50%) rotate(45deg);
}

.accordion__item {
  flex: 0 1 30%;
}

.accordion__item:not(:last-child) {
  margin-right: 18px;
}

.accordion__item-button {
  position: relative;
  border: none;
  text-align: left;
  line-height: 32px;
  color: #333;
  background: transparent;
  transition: color .15s ease-in-out;
  cursor: pointer;
}

.accordion__item-button::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: transparent;
  transition: background-color .15s ease-in-out;
}

.accordion__item-button:hover {
  color: var(--purple-hover);
}

.accordion__item-button:active {
  color: var(--purple-active);
}

.accordion__item-button:hover::after {
  background-color: var(--purple-hover);
}

.accordion__item-button:active::after {
  background-color: var(--purple-active);
}

.accordion__item-button_active {
  font-weight: 600;
  color: var(--purple-active);
  outline: none;
  pointer-events: none;
}

/* EVENTS */
.events-section {
  padding-top: 86px;
}

.events__container {
  padding-bottom: 81px;
}

.events__title {
  margin-bottom: 20px;
}

.events__list {
  flex-flow: row wrap;
}

.events__item {
  flex: 0 1 31.25%;
  margin-bottom: 50px;
  border: 1px solid var(--border);
}

.events__item:nth-child(4),
.events__item:nth-child(5) {
  display: none;
}

.events__item:nth-child(4).visually,
.events__item:nth-child(5).visually {
  display: inline-block;
}

.events__item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.events-item__figcaption {
  flex-direction: column;
  padding: 14px 16px 48px 50px;
  min-height: 398px;
}

.events-item__signature {
  display: block;
  flex-direction: column;
  margin-bottom: 7px;
  font-size: 12px;
  color: #999;
  text-align: right;
}

.events-item__title {
  margin-bottom: 2px;
  font-size: 23px;
  line-height: 34px;
}

.events-item__description {
  margin-right: 30px;
  margin-bottom: 25px;
  line-height: 32px;
}

.events-item__link {
  position: relative;
  margin-top: auto;
  width: 87px;
  color: var(--purple-focus);
}

.events-item__link::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: var(--purple-focus);
  transform: translateY(5px);
}

.events-item__link:active {
  color: var(--purple-active);
}

.events-item__link:active::after {
  background-color: var(--purple-active);
}

.events__button {
  margin-left: 50%;
  padding: 16px 33px;
  border: 2px solid var(--purple-focus);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  color: var(--purple-focus);
  background-color: transparent;
  transform: translateX(-50%);
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
  cursor: pointer;
}

.events__button:focus,
.edition__link:focus,
.contacts__address-button:focus {
  outline: none;
}

.events__button > span,
.edition__link > span,
.contacts__address-button > span {
  position: relative;
}

.events__button > span::after,
.edition__link > span::after,
.contacts__address-button > span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  border: 2px solid var(--purple-active);
  transform: translate(-50%, -50%);
  transition: opacity .15s ease-in-out;
  opacity: 0;
}

.events__button:focus > span::after,
.edition__link:focus > span::after,
.contacts__address-button:focus > span::after {
  opacity: 1;
}

.events__button:hover {
  background-color: var(--purple-focus);
  color: var(--white);
}

.events__button:active {
  border-color: var(--purple-border);
  background-color: var(--purple-active);
}

.events__button.hidden {
  display: none;
}

/* EDITION */
.edition-section {
  padding-top: 88px;
  padding-bottom: 81px;
  color: var(--white);
  background: url(../images/birmingham-museums-5@1x.jpg) center center no-repeat transparent;
  background-size: cover;
}

.edition__categories-prices {
  margin-right: 58px;
}

.edition__title {
  margin-bottom: 25px;
}

.edition__categories,
.edition__price {
  flex-direction: column;
  border: none;
}

.edition__categories {
  margin-bottom: 38px;
}

.edition__categories-text {
  margin-bottom: 12px;
  font-size: 17px;
}

.edition__label {
  position: relative;
  padding-left: 23px;
  line-height: 20px;
  cursor: pointer;
}

.edition__label:hover {
  color: var(--purple-hover);
}

.edition__label:hover > .edition__checkbox_custom {
  border-color: var(--purple-hover);
}

.edition__label:not(:last-child) {
  margin-bottom: 13px;
}

.edition__checkbox_custom {
  position: absolute;
  top: 50%;
  left: 0;
  border: 1px solid var(--white);
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  transition: border .15s ease-in-out;
}

.edition__checkbox_custom::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--purple-hover);
  transform: translate(-50%, -50%);
  visibility: hidden;
  transition: visibility .15s ease-in-out;
}

.edition__checkbox:checked + .edition__checkbox_custom::after {
  visibility: visible;
}

.edition__checkbox:checked + .edition__checkbox_custom {
  border: 1px solid var(--purple-hover);
}

.edition__label-text {
  position: relative;
  transition: color .15s ease-in-out;
}

.edition__label-text::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 120%;
  border: 2px solid var(--purple-active);
  transform: translate(-50%, -50%);
  transition: opacity .15s ease-in-out;
  opacity: 0;
}

.edition__checkbox:checked ~ .edition__label-text {
  color: var(--purple-hover);
}

.edition__checkbox:active + .edition__checkbox_custom {
  border: 1px solid var(--purple-active);
}

.edition__checkbox:active ~ .edition__label-text {
  color: var(--purple-active);
}

.edition__checkbox:focus ~ .edition__label-text::after {
  opacity: 1;
}

.edition__price-text {
  margin-bottom: 16px;
  font-size: 16px;
}

.edition__price-range {
  padding: 0 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  line-height: 38px;
}

.edition__price-range_from,
.edition__price-range_before {
  padding-left: 10px;
  border: none;
  max-width: 82px;
  color: var(--white);
  -webkit-text-fill-color: var(--white);
  background-color: rgba(157, 92, 208, 0.5);
}

.editor__price-label {
  padding: 0 11px;
  cursor: pointer;
}

.edition__price-range_from::placeholder,
.edition__price-range_before::placeholder {
  color: var(--white);
}

.edition__price-range_from:focus::placeholder,
.edition__price-range_before:focus::placeholder {
  font-size: 0;
}

.editor_price-currency {
  padding-right: 13px;
  padding-left: 12px;
}

.edition__gallery {
  min-height: auto;
}

.edition__swiper-buttons {
  padding-top: 36px;
}

.edition__swiper-container {
  margin-top: 86px;
}

.edition__swiper {
  position: relative;
  flex: 1 1 75%;
}

.edition__image-description {
  justify-content: space-between;
  padding: 20px 0 15px 0;
}

.edition__image-name {
  flex-direction: column;
}

.edition__image-author {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.edition__image-price {
  font-size: 16px;
}

.edition__link {
  display: inline-block;
  padding: 7px 19px 9px;
  border: 2px solid var(--purple-focus);
  border-radius: 100px;
  font-weight: 700;
  color: var(--white);
  transition: background-color .15s ease-in-out, border .15s ease-in-out;
}

.edition__link:hover {
  background-color: var(--purple-focus);
}

.edition__link:active {
  border: 2px solid var(--purple-border);
  background-color: var(--purple-active);
}

/* PROJECTS */
.projects-section {
  padding-top: 88px;
}

.projects__title {
  margin-bottom: 20px;
}

.projects__description {
  margin-bottom: 22px;
  max-width: 1080px;
  line-height: 32px;
}

.projects__tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.projects___tooltip-btn {
  position: relative;
  display: inline-block;
  border: none;
  width: 16px;
  height: 16px;
  background-color: transparent;
  vertical-align: middle;
  cursor: pointer;
}

.projects___tooltip-btn::before {
  content: '';
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: var(--border) transparent transparent transparent;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: .3s ease-in-out;
}

.projects___tooltip-btn:hover::before {
  opacity: 1;
  visibility: visible;
}

.projects__tooltip-text {
  position: absolute;
  bottom: calc(100% + 4px);
  left: 50%;
  padding: 8px 11px;
  width: 264px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--white);
  background-color: var(--border);
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
}

.projects___tooltip-btn:focus::before,
.projects___tooltip-btn:focus+.projects__tooltip-text,
.projects__tooltip:hover .projects__tooltip-text,
.projects__tooltip:hover .projects___tooltip-btn::before {
  opacity: 1;
  visibility: visible;
}

.project__link {
  color: var(--purple-focus);
  transition: color .15s ease-in-out;
}

.project__link:hover {
  color: var(--purple-hover);
}

.project-link:active {
  color: var(--purple-active);
}

.project__wrapper-swiper-container {
  position: relative;
}

.projects__swiper-container {
  position: relative;
  margin: 0 74px;
  overflow: hidden;
}

.projects__partner-title {
  margin-bottom: 27px;
}

.project__row {
  justify-content: space-between;
}


.projects__partner-title {
  font-weight: 600;
  font-size: 24px;
}

.partners-swiper-button-prev,
.partners-swiper-button-next {
  position: absolute;
  top: 61%;
  border: 2px solid var(--border);
  background-color: var(--border);
  transform: translateY(-50%);
}

.partners-swiper-button-prev {
  left: 0;
}

.partners-swiper-button-next {
  right: 0;
}

.project__row-card {
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  width: 450px;
  height: 150px;
  filter: grayscale(1);
  transition: filter .3s ease-in-out;
  cursor: pointer;
}

.project__row-card:hover {
  filter: grayscale(0);
}

.project__row-card:not(:last-child) {
  margin-right: 15px;
}

.swiper-slide__image {
  transform: scale(1.15);
}

/* CONTACTS */
.contacts-section {
  padding-top: 86px;
}

.contacts__title {
  margin-bottom: 20px
}

.contacts__address-form-social {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1 .5 41%;
  padding-right: 20px;
  padding-left: 20px;
  border-top: 1px solid var(--border)
}

.contacts__address-form-social-wrapper {
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.contacts__address-form-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.contacts__address-text {
  margin-bottom: 30px;
  font-style: inherit;
  line-height: 32px;
}

.contacts__address-form {
  margin-bottom: 38px;
}

.contacts__address-fieldset {
  flex-direction: column;
  justify-content: center;
  padding: 0;
  border: none;
}

.contacts__address-legend {
  margin-bottom: 19px;
  line-height: 32px;
  font-size: 24px;
}

.js-validate-error-label {
  position: absolute;
  bottom: calc(100% + 5px);
  left: 0;
  padding: 0;
  padding-left: 22px;
  font-size: 14px;
  color: rgb(110, 20, 0) !important;
  background-color: transparent;
}

.contacts__address-input {
  position: relative;
  border: 1px solid #333;
  margin-bottom: 24px;
  padding: 8px 22px;
  border-radius: 100px;
  width: 100%;
  max-width: 400px;
}

.contacts__address-input:focus::placeholder {
  font-size: 0;
}

.contacts__address-button {
  display: inline-block;
  padding: 18px 35px;
  border: 2px solid var(--purple-focus);
  max-width: 156px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 100px;
  color: var(--purple-focus);
  background-color: transparent;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
  cursor: pointer;
}

.contacts__address-button:hover {
  background-color: var(--purple-focus);
  color: var(--white);
}

.contacts__address-button:active {
  border-color: var(--purple-border);
  background-color: var(--purple-active);
}

.contacts__address-social {
  margin-bottom: 18px;
  font-size: 22px;
}

.contacts__social-icons {
  position: relative;
  display: inline-block;
  margin-right: 21px;
  transition: filter .15s ease-in-out;
}

.contacts__social-icons > svg {
  object-fit: cover;
}

.contacts__social-icons:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.9));
}

.contacts__social-icons:active {
  transform: scale(.85);
}

/* Custom map */
.contacts__map {
  flex: 1 1 67.5%;
}

.map {
  width: 100%;
  min-height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* FOOTER */
.footer {
  background-color: var(--dark);
}

.footer_container {
  padding: 50px 15px 40px;
}

.footer__logo {
  margin-right: auto;
}

.socials__item:not(:last-child) {
  margin-right: 17px;
}

.footer__social-link {
  position: relative;
  display: inline-block;
  transition: opacity .15s ease-in-out;
}

.footer__social-link > svg {
  object-fit: cover;
}

.footer__social-link:focus {
  outline: none;
}

.footer__social-link::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid var(--purple-active);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .15s ease-in-out;
  opacity: 0;
}

.footer__social-link:focus::after {
  opacity: 1;
}

.footer__social-link:hover {
  opacity: .5;
}

.footer__social-link:active img {
  transform: scale(.85);
}

#back-top {
  position: fixed;
  bottom: 0px;
  right: 0;
  padding: 0px;
  background: url(../images/birmingham-museums-4@1x.jpg) center center no-repeat transparent;
  background-size: cover;
  z-index: 5;
}

#back-top a{
  display:block;
  width: 77px;
  height: 30px;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  text-align: center;
  color: var(--white);
  background: rgba(0, 0, 0, 0.25);
}

#back-top a:hover{
  height: 70px;
}
